@model productscategories.Models.AssocProdToCatViewModel
<div class="container">
    <div class="row" style="justify-content: center; margin: 25px">
        <h1>@Model.Category.Name</h1>
    </div>
    <div class="row">
        <div class="col">
            <h3>Products</h3>
            <ul>
                @foreach(Association item in Model.Category.Associations)
                {
                    <li>@item.Product.Name</li>
                }
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <h3>Add Product:</h3>
            </div>
            <form asp-action="AddProduct" asp-controller="Home" method="post">
                <input hidden asp-for="Association.CategoryId" value="@Model.Category.CategoryId">
                <div class="form-group">
                    <select class="form-control" asp-for="Association.ProductId">
                        @foreach(Product item in Model.Products)
                        {
                            <option value="@item.ProductId">@item.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>